<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    ul{
        color: white;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    nav{
        background-color: #171617;
    }
    img{
        width: 303px;
        height: 218px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-white">
    <div class="container-fluid">
    <img src="/img/test.png" alt="logo">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-
    target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-max ml-auto mb-2 mb-lg-0">
        <% if (title=="Home"){%>
            <li class="nav-item active">
            <%}else{%>
            <li class="nav-item">
            <%}%>
            <a class="nav-link" href="/"><i class="fas fa-lg fa-laptop-house"></i>Home&nbsp;&nbsp;</a>

            </li>
            <% if (title=="About"){%>
            <li class="nav-item active">
            <%}else{%>
            <li class="nav-item">
            <%}%>
            <a class="nav-link" href="/about"><i class="fa-solid fa-house"></i>About&nbsp;&nbsp;</a>

            </li>
            <% if (title=="Contact"){%>
            <li class="nav-item active">
            <%}else{%>
            <li class="nav-item">
            <%}%>
            <a class="nav-link" href="/contact"><i class="fa-solid fa-address-book"></i>Contact&nbsp;&nbsp;</a>

            </li>
            <% if (title=="Projects"){%>
            <li class="nav-item active">
            <%}else{%>
            <li class="nav-item">
            <%}%>
            <a class="nav-link" href="/projects"><i class="fa-brands
            fa-product-hunt"></i>Projects&nbsp;&nbsp;</a>

            </li>
            <% if (title=="Services"){%>
            <li class="nav-item active">
            <%}else{%>
            <li class="nav-item">
            <%}%>
            <a class="nav-link" href="/services"><i class="fa-brands fa-servicestack"></i>Services&nbsp;&nbsp;</a>
    </li>
    </ul>
    </div>
    </div>
    </nav>