<%- include ('partials/header.ejs')%>
<%- include ('partials/main_nav.ejs')%>
<link rel="stylesheet" href="/content/style.css">
<main class="container">
    <div class="jumbotron">
        <h1>About me:</h1>
        <br>
        <p><strong>Augusto Schmitt</strong></p>
        <p>I am a 29 year old Brazilian software engineering student, living in Toronto, Canada.</p>
        <p>I have a Bachelor's and Master's degree in Communication and Media theory, and experience working as a marketing consultant. My career shift enables me to have a particular outlook at software engineering through a business perspective that puts focus in marketing goals and how humans interface with technology.</p>
        <p>My main interests in software engineering are Databases, backend development and thinking of how to implement logic to find creative solutions to different problems.</p>
        <a href="">Link to a PDF of my Resume</a>
        <br><br>
        <img src="/img/placeholder_photo.png">
        
    </div>
</main>

<%- include ('partials/bottom_nav.ejs')%>
<%- include ('partials/footer.ejs')%>