<%- include ('partials/header.ejs')%>
<%- include ('partials/main_nav.ejs')%>
<link rel="stylesheet" href="/content/style.css">
<main class="container">
    <div class="jumbotron">
        <h1>Projects:</h1>
        <br>
        <h3>Coffee Shop Order System</h3>
        <p>This group project in C# was developed by a group of 5 people in the Programming 2 course at Centennial College. It is a fully functional application,
            including the GUI elements that enables the recording of orders, saving the data in JSON files and loading different data from JSON files. It is a proof-of-concept that works for any small business that needs to save its customers, orders and menu items.
        </p>
        <img src="/img/coffeeshop.jpg"> 
        <br><br>
        <h3>Master's Thesis and LaTeX</h3>
        <p>I wrote my Master's thesis using the LaTeX typesetting system. Although my research focused on culture studies, game studies and media theory, I ventured into understanding
            the more technical aspects of typesetting. It broadened my knowledge of how to produce written academic material in a modern fashion, and introduced me to "pseudo-code".
        </p>
        <img src="/img/masters.jpg"> 
        <br><br>
        <h3>JavaScript Bug Game</h3>
        <p>This project was developed by myself in the JavaScript course at Centennial College. It is a simple, yet functional game developed in JavaScript.
            It includes random generation of an image element that responds to on-click events, and each iteration changes the speed of the random appearance of the element.
        </p>
        <img src="/img/js_project.jpg"> 
        <br><br>
    </div>
</main>

<%- include ('partials/bottom_nav.ejs')%>
<%- include ('partials/footer.ejs')%>