<%- include ('partials/header.ejs')%>
<%- include ('partials/main_nav.ejs')%>
<link rel="stylesheet" href="/content/style.css">
<main class="container">
    <div class="jumbotron">
        <h1>Services Offered</h1><br>
    <ul class="services">
    <li><i class="fas fa-database"></i> SQL developer, data analysis, business analyst</li>
    <li><i class="fab fa-python"></i> Object-oriented programming, including C#, Python and Java</li>
    <li><i class="fas fa-server"></i> Backend programming for servers and online applications</li>
    </ul>
    </div>
</main>

<%- include ('partials/bottom_nav.ejs')%>
<%- include ('partials/footer.ejs')%>